{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add new comment for "{{ blog.title }}"</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

        <a href="{{ path('avis_index', {'id': blog.id}) }}" class="btn btn-secondary mt-3">Back to comments</a>
    </div>
{% endblock %}