{% extends 'base.html.twig' %}
{% block title %}Détails du produit{% endblock %}
{% block body %}
<h1>Produit {{ produit.nom }}</h1>
<ul>
    <li>Type: {{ produit.type }}</li>
    <li>Prix: {{ produit.prix }}</li>
    <li>Services associés:
        <ul>
        {% for s in produit.services %}
            <li>{{ s.nom }}</li>
        {% else %}
            <li>Aucun service</li>
        {% endfor %}
        </ul>
    </li>
</ul>
<a href="{{ path('produit_index') }}">Retour à la liste</a>
{% endblock %}