<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SmartMoby{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <!-- Custom style.css -->
    <link rel="stylesheet" href="{{ asset('assets/css/quicksand.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="container-fluid">
        <!-- Header -->
        <div class="row header shadow-sm">
            <div class="col-sm-3 pl-0 text-center header-logo">
                <div class="bg-theme mr-3 pt-3 pb-2 mb-0">
                    <h3 class="logo"><a href="#" class="text-secondary logo"><i class="fa fa-rocket"></i> Smart<span class="small">Moby</span></a></h3>
                </div>
            </div>
            <div class="col-sm-9 header-menu pt-2 pb-0">
                <div class="row">
                    <div class="col-sm-4 col-8 pl-0">
                        <span class="menu-icon" onclick="toggle_sidebar()">
                            <span id="sidebar-toggle-btn"></span>
                        </span>
                        <div class="menu-icon">
                            <a class="" href="#" onclick="toggle_dropdown(this); return false" role="button" class="dropdown-toggle">
                                <i class="fa fa-bell"></i>
                                <span class="badge badge-danger">5</span>
                            </a>
                        </div>
                        <span class="menu-icon">
                            <i class="fa fa-th-large"></i>
                        </span>
                    </div>
                    <div class="col-sm-8 col-4 text-right flex-header-menu justify-content-end">
                        <div class="search-rounded mr-3">
                            <input type="text" class="form-control search-box" placeholder="Search..." />
                        </div>
                        <div class="mr-4">
                            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ asset('assets/img/profile.jpg') }}" alt="Profile" class="rounded-circle" width="40px" height="40px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#"><i class="fa fa-user pr-2"></i> Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fa fa-power-off pr-2"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="row main-content">
            <!-- Sidebar -->
            <div class="col-sm-3 col-xs-6 sidebar pl-0">
                <div class="inner-sidebar mr-3">
                    <div class="avatar text-center">
                        <img src="{{ asset('assets/img/client-img4.png') }}" alt="" class="rounded-circle" />
                        <p><strong>Admin</strong></p>
                        <span class="text-primary small"><strong>Administrator</strong></span>
                    </div>

                    <div class="sidebar-menu-container">
                        <ul class="sidebar-menu mt-4 mb-4">
                            <li class="parent">
                                <a href="{{ path('app_home') }}" class="">
                                    <i class="fa fa-dashboard mr-3"></i>
                                    <span class="none">Dashboard</span>
                                </a>
                            </li>
                            <li class="parent">
                                <a href="{{ path('vehicule_index') }}" class="">
                                    <i class="fa fa-car mr-3"></i>
                                    <span class="none">Vehicles</span>
                                </a>
                            </li>
                            <li class="parent">
                                <a href="{{ path('trajet_index') }}" class="">
                                    <i class="fa fa-route mr-3"></i>
                                    <span class="none">Trips</span>
                                </a>
                            </li>
                            <li class="parent">
                                <a href="{{ path('app_google_maps') }}" class="">
                                    <i class="fa fa-map mr-3"></i>
                                    <span class="none">Map View</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="col-sm-9 col-xs-12 content pt-3 pl-0">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- JavaScript Files -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>