{% extends 'base.html.twig' %}

{% block title %}Trips - Smart Moby{% endblock %}

{% block content %}
<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Filter Trips</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Vehicle Type
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li>
                            <a class="text-decoration-none {% if vehicleType == 'Bus' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'vehicle_type': 'Bus', 'page': 1})) }}">
                                Bus
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none {% if vehicleType == 'Métro' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'vehicle_type': 'Métro', 'page': 1})) }}">
                                Métro
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none {% if vehicleType == 'Taxi' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'vehicle_type': 'Taxi', 'page': 1})) }}">
                                Taxi
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Time
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li>
                            <a class="text-decoration-none {% if timeFilter == 'all' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'time': 'all', 'page': 1})) }}">
                                All
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none {% if timeFilter == 'today' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'time': 'today', 'page': 1})) }}">
                                Today
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none {% if timeFilter == 'tomorrow' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'time': 'tomorrow', 'page': 1})) }}">
                                Tomorrow
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Price Range
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li>
                            <a class="text-decoration-none {% if priceRange == 'under_10' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'price_range': 'under_10', 'page': 1})) }}">
                                Under 10 TND
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none {% if priceRange == '10_15' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'price_range': '10_15', 'page': 1})) }}">
                                10-15 TND
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none {% if priceRange == 'over_20' %}text-success{% endif %}" 
                               href="{{ path('app_shop', app.request.query.all|merge({'price_range': 'over_20', 'page': 1})) }}">
                                Over 20 TND
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" 
                               href="{{ path('app_shop', {'page': 1}) }}">
                                All Trips
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control" onchange="window.location.href=this.value">
                            <option value="{{ path('app_shop', app.request.query.all|merge({'sort_by': 'time', 'page': 1})) }}" 
                                    {% if sortBy == 'time' %}selected{% endif %}>
                                Sort by Time
                            </option>
                            <option value="{{ path('app_shop', app.request.query.all|merge({'sort_by': 'price', 'page': 1})) }}" 
                                    {% if sortBy == 'price' %}selected{% endif %}>
                                Sort by Price
                            </option>
                            <option value="{{ path('app_shop', app.request.query.all|merge({'sort_by': 'distance', 'page': 1})) }}" 
                                    {% if sortBy == 'distance' %}selected{% endif %}>
                                Sort by Distance
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if trajets is defined and trajets|length > 0 %}
                    {% for trajet in trajets %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{asset('img/trip_' ~ random(1, 5) ~ '.jpg')}}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{{ path('app_trip_details', {'id': trajet.id}) }}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="#"><i class="fas fa-ticket-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{{ path('app_trip_details', {'id': trajet.id}) }}" class="h3 text-decoration-none">{{ trajet.pointDepart }} → {{ trajet.pointArrivee }}</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>
                                        <i class="fa fa-calendar text-primary"></i> {{ trajet.dateDepart|date('Y-m-d') }}
                                        <br>
                                        <i class="fa fa-clock text-primary"></i> {{ trajet.dateDepart|date('H:i') }}
                                    </li>
                                    <li class="pt-2">
                                        <span class="badge bg-primary">{{ trajet.vehicule.type }}</span>
                                    </li>
                                </ul>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0">
                                        <i class="fa fa-road text-primary"></i> {{ trajet.distance }} km
                                    </p>
                                    <p class="mb-0 text-success">
                                        <i class="fa fa-tag"></i> {{ trajet.prix }} TND
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <a href="{{ path('app_trip_details', {'id': trajet.id}) }}" class="btn btn-outline-primary">
                                        <i class="fa fa-eye"></i> View Trip
                                    </a>
                                    <a href="#" class="btn btn-success">
                                        <i class="fa fa-ticket-alt"></i> Book Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12 text-center">
                        <p class="text-muted">No trips available at the moment.</p>
                    </div>
                {% endif %}
            </div>
            
            <!-- Pagination -->
            <div class="row mt-4">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-lg justify-content-center">
                            {% if currentPage > 1 %}
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" 
                                       href="{{ path('app_shop', app.request.query.all|merge({'page': currentPage - 1})) }}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            
                            {% for i in 1..totalPages %}
                                <li class="page-item {% if currentPage == i %}active{% endif %}">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" 
                                       href="{{ path('app_shop', app.request.query.all|merge({'page': i})) }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endfor %}
                            
                            {% if currentPage < totalPages %}
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" 
                                       href="{{ path('app_shop', app.request.query.all|merge({'page': currentPage + 1})) }}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
{% endblock %} 