<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" href ="{{ asset('css/account_settings.css')}}">
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container p-0">
    <h1 class="h3 mb-3">Paramétres</h1>
    <div class="row">
        <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Paramétres De Compte</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
                      Compte
                    </a>
                    
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#supprimer" role="tab">
                      Supprimer le Compte
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account" role="tabpanel">

                    

                    <div class="card">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </a>

                                    
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Informations Personnelles</h5>
                        </div>
                        <div class="card-body">
                            <form action="{{ path('app_back_account_settings') }}" method="post">
                                {{form_start(form)}}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">Nom</label>
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'id': 'inputFirstName', 'placeholder': 'Nom'}}) }}
                                        <div class="form-error">
                                            {{ form_errors(form.nom) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Prénom</label>
                                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'id': 'inputLastName', 'placeholder': 'Prénom'}}) }}
                                        <div class="form-error">
                                            {{ form_errors(form.prenom) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Email</label>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'inputEmail4', 'placeholder': 'Email'}}) }}
                                    <div class="form-error">
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Nom D'utilisateur</label>
                                    {{ form_widget(form.nom_utilisateur, {'attr': {'class': 'form-control', 'id': 'inputAddress', 'placeholder': "Nom D'utilisateur"}}) }}
                                    <div class="form-error">
                                        {{ form_errors(form.nom_utilisateur) }}
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label for="inputPasswordCurrent">Mot De Passe</label>
                                    {{ form_widget(form.mot_de_passe, {'attr': {'class': 'form-control', 'id': 'inputAddress', 'placeholder': "Mot De Passe"}}) }}
                                    <div class="form-error">
                                        {{ form_errors(form.mot_de_passe) }}
                                    </div>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <label for="inputAddress">Nom D'utilisateur</label>
                                    {{ form_widget(form.role, {'attr': {'class': 'form-control', 'id': 'inputAddress', 'placeholder': "Nom D'utilisateur"}}) }}
                                    <div class="form-error">
                                        {{ form_errors(form.nom_utilisateur) }}
                                    </div>
                                </div>
                                <button type="submit" name="update" class="btn btn-primary">Sauvegarder</button>
                                {{form_end(form)}}
                            </form>
                            {% if form2 is not null %}
                            <h5 class="card-title mb-0">Informations De L'admin</h5>
                                <form action="{{ path('app_back_account_settings') }}" method="post">
                                    {{ form_start(form2) }}
                                    <div class="form-group">
                                        <label for="departement">Département</label>
                                        {{ form_widget(form2.departement, {'attr': {'class': 'form-control', 'id': 'departement', 'placeholder': 'Département'}}) }}
                                        <div class="form-error">
                                            {{ form_errors(form2.departement) }}
                                        </div>
                                    </div>
                                    <button type="submit" name="update_admin" class="btn btn-secondary">Sauvegarder Admin</button>
                                    {{ form_end(form2) }}
                                </form>
                            {% endif %}
                            


                        </div>
                    </div>

                </div>
                
                <div class="tab-pane fade" id="supprimer" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Supprimer Le Compte</h5>
                            <p class="card-text">Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>
                            <form method="post" action="{{path('app_back_account_settings')}}">
                                <button type="submit" name="delete" class="btn btn-danger">Supprimer</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>